<?xml version="1.0" encoding="utf-8"?><!--
  ~  *********************************************************************************
  ~  Created by Tezov on 06/05/2023 16:08
  ~  Copyright (c) 2023 . All rights reserved.
  ~  Last modified 06/05/2023 16:05
  ~  First project bank / bank.test_common_integration.main
  ~  This file is private and it is not allowed to use it, copy it or modified it
  ~  without the permission granted by the owner Tezov. For any request request,
  ~  please send an email to tezov.app@gmail.com
  ~  *********************************************************************************
  -->

<manifest>

</manifest>